Imports

In [21]:
from nltk.tokenize import RegexpTokenizer
import pandas as pd

In [ ]:
!wget http://www.cs.cmu.edu/~ark/personas/data/MovieSummaries.tar.gz
!tar -xf MovieSummaries.tar.gz

Load data to data frame

In [22]:
df = pd.read_csv('/content/MovieSummaries/plot_summaries.txt', delimiter = '\t',names=['d','text'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42303 entries, 0 to 42302
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   d       42303 non-null  int64
 1   text    42303 non-null  object
dtypes: int64(1), object(1)
memory usage: 661.1+ KB

Tokenize

In [23]:
token_list = []
tokenizer = RegexpTokenizer(r'\w+')
for i in range(len(df)):
  content = df['text'][i]
  token_list.append(tokenizer.tokenize(content))

df['token'] = token_list
df.to_csv('plot_summaries_tokenized.csv')
df.head()

,d,text,token
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...","[Shlykov, a, hard, working, taxi, driver, and,..."
1,31186339,The nation of Panem consists of a wealthy Capi...,"[The, nation, of, Panem, consists, of, a, weal..."
2,20663735,Poovalli Induchoodan is sentenced for six yea...,"[Poovalli, Induchoodan, is, sentenced, for, si..."
3,2231378,"The Lemon Drop Kid , a New York City swindler,...","[The, Lemon, Drop, Kid, a, New, York, City, sw..."
4,595909,Seventh-day Adventist Church pastor Michael Ch...,"[Seventh, day, Adventist, Church, pastor, Mich..."